# Python
venv/
__pycache__/
*.pyc

# Runtime data
audio/
data/
docker/

# Secrets
.envi

# Secrets
.env
keys/
*.pem
*.key
*.json

# Cloud credentials
aws_credentials
azure_credentials
gcp_credentials

# Python env files
.env.*
